.idea
.git
.terraform
.terraform.lock.hcl
terraform.tfstate
.terraform.tfstate.lock.info
terraform.tfstate.backupdeployment_module/.terraform
application/.terraform.lock.hcl
application/terraform.tfstate
terraform.tfstate.backup
